<!doctype html>
<html>
<head>
  {%- if page.title %}
  <title>BSides Oslo 2024 - {{ page.title }}</title>
  {%- else %}
  <title>BSides Oslo 2024 - October 14th at Vulkan Arena</title>
  {%- endif %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<header>
  <nav>
    <a href="/#program">Program</a>
    <a href="/#sponsors">Sponsors</a>
    <a href="/#venue">Venue</a>
    <a href="/about">About</a>
    <a href="/code-of-conduct">Code of Conduct</a>
    <a href="https://www.letsreg.com/no/event/bsidesoslo2024#init" class="highlight">Get tickets</a>
  </nav>
</header>
<div class="{{ layout.type }}">

