<section class="program" id="program"> 
  <h2>Program</h2>
  <ul class="talks">
    {% for talk in site.data.talks %}
    <li>
      <details>
        <summary>{{ talk.title }} - <em>{{ talk.name }}</em></summary>
        <article>
          <p>{{ talk.abstract | markdownify  }}</p>
          <div class="speaker">
            <img style="background-image: url('/assets/images/speakers/{{ talk.image }}.webp')">
            <div>
              <h4>{{ talk.name }}</h4>
              <p>{{ talk.bio | markdownify }}</p>
            </div>
          </div>
        </article>
      </details>
      
    </li>
  {% endfor %}
</ul>
<h2>Villages</h2>
<ul class="talks">
  {% for village in site.data.villages %}
  <li>
    <details open>
      <summary>{{ village.name }}</summary>
      <article>
        <div>{{ village.description | markdownify }}</div>
      </article>
    </details>
    
  </li>
{% endfor %}
</ul>
</section>