<section class="program" id="program"> 
  <h2>Program</h2>
  <ul class="talks">
    {% for item in site.data.program %}
    <li>
     {% if item.talk  %}
      {% assign talk = site.data.talks[item.talk] %}
      <details>
        <summary>
            <time datetime="2024-10-14T{{item.timeStart}}">{{ item.timeStart }}</time> : {{ talk.title }} - <em>{{ talk.name }}</em>
        </summary>
        <article>
          <p>{{ talk.abstract | markdownify  }}</p>
          <div class="speaker">
	    {%- if talk.image %}
            <img style="background-image: url('/assets/images/speakers/{{ talk.image }}.webp')">
	    {%- else %}
            <img style="background-image: url('#')">
	    {%- endif %}
            <div>
              <h4>{{ talk.name }}</h4>
              <p>{{ talk.bio | markdownify }}</p>
            </div>
          </div>
        </article>
      </details>
      {% else %}
        {% if item.timeStart %}
        <div class="serviceSession"><time>{{ item.timeStart }}</time> : {{ item.title }}</div>
        {% else %}
        <div class="serviceSession"><time>{{ item.timeEnd }}</time> : {{ item.title }}</div>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
<h2>Villages</h2>
<ul class="talks">
  {% for village in site.data.villages %}
  <li>
    <details open>
      <summary>{{ village.name }}</summary>
      <article>
        <div>{{ village.description | markdownify }}</div>
      </article>
    </details>
    
  </li>
{% endfor %}
</ul>
</section>
