<section class="sponsors" id="sponsors">
{% for sponsortype in site.data.sponsors %}
	{% if sponsortype.sponsors %}
  	<h3>{{ sponsortype.type }} sponsor{% if sponsortype.sponsors.size > 1 %}s{% endif %}</h3>
	  <div class="{{ sponsortype.type }}">
		{% assign sortedsponsors = sponsortype.sponsors | sort: 'name' %}
		{% for sponsor in sortedsponsors %}
	    <a style="background-image: url(/assets/images/sponsors/{{sponsor.logo}}); {% if sponsor.backgroundSize %} background-size: {{sponsor.backgroundSize}};{% endif %}" title="{{sponsor.name}}" href="{{sponsor.url}}"></a>
	  {% endfor %}
	  </div>
  {% endif %}
{% endfor %}
<h4>Interested in sponsoring? <a title="Sponsorship" href="mailto:sponsors@bsidesoslo.no">Get in touch</a></h4>
</section>