html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

div.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 4em;
}
div.front img {
  max-width: 500px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
h1, h2, h3, h4, li {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 0.5em;
  text-transform: uppercase; 
}
a {
  color: #009;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.sponsors h3 {
  border-top: 1px solid #444;
  padding-top: 1em;
}
.sponsors h3:first-of-type {
  border-top: none;
}
.sponsors h3,
.sponsors h4 {
  text-align: center;
  color: #444;

}
.sponsors div {
  display: flex;
  margin-bottom: 4em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sponsors div a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  flex-grow: 0;
  flex-shrink: 0;
}
.sponsors .Platinum a {
  height: 150px;
  width: 400px;
}
.sponsors .Silver a {
  height: 100px;
  width: 175px;
}

.sponsors .Community a {
  height: 75px;
  width: 100px;
}


.program {
  width: 100%;
  background-color: #ddd;
  padding: 2em 2em;
}

.page {
  margin-top: 4em;
}
.page img {
  width: 200px;
}


/* Footer */

footer {
  width: 100%;
}
footer ul{
  color: #000;
  list-style: none;
  background-color: #ddd;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

footer a, footer a:hover, footer a:active{
  color: #000;
}

footer li{
  display: inline;
  padding: 0.5em 1em;
}

@media screen and (max-width: 600px) {
  div.front img {
    max-width: 300px;
  }
  .sponsors .Platinum a {
    height: 120px;
    width: 300px;
  }
  .sponsors .Silver a {
    height: 90px;
    width: 155px;
  }
  
  .sponsors .Community a {
    height: 65px;
    width: 90px;
  }
  
}