div.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  margin-top: 4em;
}
div.front img {
  width: 500px;
}
h1, h2, h3, h4, li {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 0.5em;
  text-transform: uppercase; 
}
a {
  color: #009;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.sponsors h3 {
  border-top: 1px solid #444;
  padding-top: 1em;
  
}
.sponsors h3,
.sponsors h4 {
  text-align: center;
  color: #444;

}
.sponsors div {
  display: flex;
  margin-bottom: 4em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sponsors div a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  flex-grow: 0;
  flex-shrink: 0;
}
.sponsors .Platinum a {
  height: 150px;
  width: 400px;
}
.sponsors .Silver a {
  height: 100px;
  width: 175px;
}

.sponsors .Community a {
  height: 75px;
  width: 100px;
}

/* Footer */

footer ul{
  color: #000;
  list-style: none;

}

footer a, footer a:hover, footer a:active{
  color: #000;
}

footer li{
  display: inline;
  padding: 0.5em 1em;
}
